/* 
  Color palette: 
  #6A8040 (light green)
  #3D5E42 (dark green)
  #2a432e (darker green)
  #BF8139 (light rust)
  #7d5425 (rust)
  #3C3B39 (gray)
  #2b2b2b (dark gray)
  #8a837a (light gray)
*/

* {
  box-sizing: border-box;
  margin: 0;
  color: #3C3B39;
  font-family: "Orbitron", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  background-color: #3D5E42;
}

button {
  font-size: 30px;
  padding: 16px 24px;
  background-color: #BF8139;
  border-radius: 8px;
  border-top: none;
  border-right: none;
  border-left: solid #7d5425;
  border-bottom: solid #7d5425;
  font-family: "Source Code Pro", sans-serif;
  flex-grow: 1;
}

#calc-body {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  width: 350px;
  height: 575px;
  padding: 30px;
  gap: 30px;
  background-color: #6A8040;
  border-radius: 18px;
  border-left: 4px solid #2a432e;
  border-bottom: 4px solid #2a432e;
}

#calc-name {
  display: flex;
  gap: 10px;
  align-items: baseline;
  color: #3D5E42;
  font-weight: 900;
}

#calc-version {
  font-size: 10px;
  font-weight: 500;
  color: inherit;
  font-weight: inherit;
}

#calc-contents {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  flex-grow: 1;
}

#calc-display {
  flex-grow: 1;
  height: 80px;
  background-color: #3C3B39;
  border-radius: 8px;
  border-top: solid #2b2b2b;
  border-right: solid #2b2b2b;
  color: #8a837a;
  padding: 20px;
  font-size: 40px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

footer {
  font-size: 12px;
}